body {
background-color:#181818;
color: white;
font-family: Tahoma, sans-serif;
}

a {
  color: inherit;         
  text-decoration: none;  
}





.tabela1 {
  width: 100%;
  height: 40px;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #181818;
}

.tabela1 td {
  padding: 0px 25px;
  text-align: center; 
  vertical-align:middle;
}

.tabela1 h2 {
  margin: 0;
  font-size: 22px;
  cursor: pointer;
  line-height: 60px;
}

.tabela1 h2:hover {
  color: #e63946; 
}



table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 100px;
  color: white;
  font-family: Verdana, sans-serif;
}

td {
  width: 1000px;
  padding: 20px;
}

form {
  display: block;
  color: white;
  font-family: inherit;
}

input[type="text"],
input[type="password"],
select,
textarea {
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

input[type="checkbox"] {
  margin-left: 10px;
}

input[type="submit"],
input[type="reset"] {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #ff3c3c;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #e22e2e;
}

textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

h6 {
  color: white;
  font-size: 14px;
  margin-top: 40px;
  font-family: inherit;
  text-align: center;
}












footer {
  background-color: #181818;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.forma {
  text-align: center;
  padding: 20px;
}

.forma input[type="text"] {
  padding: 7px;
  width: 200px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
}

.forma input[type="submit"] {
  margin-top: 15px;
  padding: 8px 20px;
  background-color: #e60000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forma input[type="submit"]:hover {
  background-color: #cc0000;
}